/** {
	margin: 0;
	padding: 0;
}

.navbar {
	margin-bottom: 0px
}*/

/*body {

	background-image: url('../images/doug.img');
	background-size: 100% 100%;

}*/

/*#container {
	min-height: 100%;
}*/

/*#main {
	overflow: auto;
	padding-bottom: 100px;
}*/

/*.bottom {
	padding-bottom: 0px;
}

.footer {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100px;
	clear: both;
	bottom: 0;
}

.jumbotron{
	position: relative;
	z-index:-101; 

}

#video-background { 
 	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}*/



	/*<header class="jumbotron text-center" style="background-image: url('doug.img'); background-size: 100% 100%; 		height: 100vh; position: relative: z-index: -101; ">
		<h1>Doug Duggart's</h1>
		<p class="lead">Brazilian Jiu Jitsu!</p>
		<p> 
		<a href="#" class="btn btn-outline-primary"> Book Now!</a>

	</header>*/

/*	  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a href="../index.html" class="navbar-brand"> 
		<div class ="logo-image" style="float: right">
			<img src="C:\Users\angmg\Documents\Batch87\s18-25\Capstone_project\frontend\assets\images\ico.png" class="img-fluid">
		</div>
		DDBJJ</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#zuitterNav">
			<span class="navbar-toggler-icon">
			</span>
		</button>

		<div class="collapse navbar-collapse" id="zuitterNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="../index.html" class="nav-link"> Home </a>
				</li>
				<li class="nav-item">
					<a href="./register.html" class="nav-link"> Register</a>
				</li>
				<span id="navSession"></span>
			</ul>
		</div>
	</nav>*/

/*	  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a href="../index.html" class="navbar-brand"> 
		<div class ="logo-image" style="float: right">
			<img src="C:\Users\angmg\Documents\Batch87\s18-25\Capstone_project\frontend\assets\images\ico.png" class="img-fluid">
		</div>
		DDBJJ</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#zuitterNav">
			<span class="navbar-toggler-icon">
			</span>
		</button>

		<div class="collapse navbar-collapse" id="zuitterNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a href="../index.html" class="nav-link"> Home 
					</a>
				</li>
				<li class="nav-item">
					<a href="./login.html" class="nav-link"> Log in
					</a>
				</li>
				<li class="nav-item">
					<a href="./courses.html" class="nav-link"> Courses
					</a>
				</li>
			</ul>
		</div>
	</nav>*/